name: Fix Outdated Tools

on:
  workflow_dispatch:

jobs:
  get-lockfiles:
    runs-on: ubuntu-latest
    outputs:
      lockfiles: ${{ steps.set-matrix.outputs.lockfiles }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Get all lock files
        id: set-matrix
        run: |
          lockfiles=$(ls *.yaml.lock | jq -R -s -c 'split("\n")[:-1]')
          echo "lockfiles=$lockfiles" >> $GITHUB_OUTPUT

  fix-outdated:
    needs: get-lockfiles
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lockfile: ${{ fromJson(needs.get-lockfiles.outputs.lockfiles) }}
      fail-fast: false
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: uv pip install --system -r requirements.txt

      - name: Fix ${{ matrix.lockfile }}
        run: python scripts/fix_outdated.py "${{ matrix.lockfile }}"

      - name: Upload changes
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ matrix.lockfile }}
          path: |
            ${{ matrix.lockfile }}
            *.uninstallable_revisions.yaml
          if-no-files-found: ignore

  create-pr:
    needs: fix-outdated
    if: always()
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
            fetch-depth: 0

      - name: Download all artifacts
        uses: actions/download-artifact@v5
        with:
          merge-multiple: true

      - name: Check for changes
        id: check_changes
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "changes=true" >> $GITHUB_OUTPUT
            echo "Changes detected in lock files"
          else
            echo "changes=false" >> $GITHUB_OUTPUT
            echo "No changes detected"
          fi

      - name: Create or update Pull Request
        id: cpr
        if: steps.check_changes.outputs.changes == 'true'
        uses: peter-evans/create-pull-request@v7
        with:
          branch: fix-outdated-tools
          commit-message: Fix uninstallable tool revisions
          title: 'Fix uninstallable tool revisions'
          body: |
            This PR was automatically generated by the `fix-outdated-tools` workflow.
            Workflow run: [${{ github.run_id }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
          delete-branch: true
